.vnc
.cache
.kas*
openbox
pulse
.dbus
.local
Desktop
.Xauthority
.feh*
.bash_history
.lesshst
.config/htop/htoprc
.config/gpick/user_init.lua
.config/glib-2.0/settings/keyfile
.mozilla/firefox
.config/btop/btop.conf
